<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common/head.html"></head>

<body>
<header th:insert="common/header.html"></header>
<div class="container">
<h1>Admin Page</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>아이디</th>
            <th>이메일</th>
            <th>권한</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user,i : ${userList}">
            <td><span th:text="${i.count}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.role}"></span></td>
            <td><button onclick="location.href='/'" class="btn btn-outline-danger btn-sm" type="button">삭제</button></td>
        </tr>
        </tbody>

    </table>
</div>
</body>